<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="heading">Панель управления</p>

    <button (click)="showFiller = !showFiller" mat-button color="primary">Книги</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button"  mat-stroked-button color="primary" (click)="drawer.toggle()">
      Открыть меню
    </button>

    <app-category-book-list *ngIf="showFiller"></app-category-book-list>
  </div>

</mat-drawer-container>
