<header>
  <mat-toolbar class="header">
      <mat-button-toggle  value="left" aria-label="Text align left" (click)="drawer.toggle()">
          <mat-icon >format_align_left</mat-icon>
      </mat-button-toggle>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span class="heading">Гайд по Книгам</span>


  </mat-toolbar>
</header>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p >Панель управления</p>

    <button (click)="showFiller = !showFiller" mat-button color="warn">Жанры</button>

    <app-category-book-list *ngIf="showFiller" [categoryList]="typesOfBook" (outToParent)='receiveFromChild($event)'></app-category-book-list>

  </mat-drawer>

  <div class="example-sidenav-content">
      <app-book-list  [booksData]="selectBookList"></app-book-list>
  </div>

</mat-drawer-container>
