<header>
  <mat-toolbar class="header">
      <mat-button-toggle  value="left" aria-label="Text align left" class="main-button" (click)="sidenav.toggle()">
          <mat-icon >format_align_left</mat-icon>
      </mat-button-toggle>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span class="heading">Магазинчик</span>


  </mat-toolbar>
</header>


<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" >
    <p>Панель управления</p>

    <button routerLink='/books' (click)="openBooksCateg()"  mat-button color="warn">Книги</button>

    <button routerLink='/games' (click)="openGamesCateg()"  mat-button color="warn">Компьютерные игры</button>
  </mat-sidenav>

  <mat-sidenav-content autosize>
    {{sidenav.opened}}

  <router-outlet *ngIf="showFillerBook || showFillerGame"></router-outlet>

</mat-sidenav-content>
</mat-sidenav-container>
