.book-image{
  width: 6em;
  height: 10em;
}

.book-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mat-grid-tile .mat-figure{
  padding: 10px;
}

p {
  margin: 1em 0 0.5em 1em;
  color: #343434;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Orienta', sans-serif;
}
